a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

#loginVisibilityIcon{
    top: -46.5%;
    width: 40px;
    align-self: end;
}